<div style="border:green 5px solid; width:750px">
  <app-person-count 
    [allCount]='getAllCount()' 
    [maleCount]='getMaleCount()'
    [femaleCount]='getFemaleCount()'
  ></app-person-count>
  <hr color="green"/>
  <h1>list People</h1>

  <table border="1">
    <tr>
      <th>Index</th>
      <th>ID</th>
      <th>Pname</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Operations</th>
    </tr>
    <tr *ngFor = 'let p of personList; let i = index'>
      <td>{{i}}</td>
      <td>{{p.id}}</td>
      <td>{{p.pname}}</td>
      <td>{{p.gender}}</td>
      <td>{{p.age}}</td>
      <td><button (click)='personList.splice(i,1)'>Delete</button></td>
    </tr>
  </table>
</div>