<h2>Single Page Applications</h2>
<h3>Employee Record Navigation</h3>

<table border="1">
  <tr>
    <th>ID</th>
    <td>{{x.id}}</td>
    <td><button (click)='firstRow()'>First</button></td>
  </tr>
  <tr>
      <th>Ename</th>
      <td>{{x.ename}}</td>
      <td><button (click)='nextRow()'>Next</button></td>
  </tr>
  <tr>
      <th>Job</th>
      <td>{{x.job}}</td>
      <td><button (click)='prevRow()'>Previous</button></td>
  </tr>
  <tr>
      <th>Salary</th>
      <td>{{x.salary}}</td>
      <td><button (click)='lastRow()'>Last</button></td>
  </tr>

</table>


