<h2>Single Page Applications</h2>
<h3>List of Employees</h3>


<table border="1" *ngIf="employees">
  <tr>
    <th>Index</th>
    <th>Id</th>
    <th>Ename</th>
    <th>Job</th>
    <th>Salary</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor = 'let e of employees; let i = index'>
    <td>{{i}}</td>
    <td>{{e.id}}</td>
    <td>{{e.ename}}</td>
    <td>{{e.job}}</td>
    <td>{{e.salary}}</td>
    <td><button (click)='selectRow(i)'>Select</button></td>
  </tr>
</table>
<hr>
<div *ngIf="x">
  <h2>Selected Row details</h2>
  ID: {{x.id}} <br>
  Ename: {{x.ename}} <br>
  Job: {{x.job}} <br>
  Salary: {{x.salary}} <hr>
  <button (click)='x=null'>Clear all Fields</button>
</div>
